@import 'bourbon';
@import 'reset';

body {
  background:#ddd;
}

button {
  outline:none;
}

header {
  @include linear-gradient(#666, #222);
  height:50px;
  left:0;
  line-height:50px;
  position:absolute;
  text-align:center;
  top:0;
  width:100%;

  h1 {
    color:#fff;
    font-size:160%;
    line-height:50px;
  }
}

footer {
  @include linear-gradient(#666, #222);
  bottom:0;
  height:50px;
  left:0;
  line-height:50px;
  position:absolute;
  text-align:center;
  width:100%;

  a {
    display:inline-block;
    height:50px;
    line-height:50px;
    margin:0 0.25em;
    text-align:center;
    width:50px;
    i {
      color:#999;
      font-size:24px;
      line-height:50px;
    }
  }
  a.touched {
    i {
      color:#fff;
    }
  }
}

#screen {
  background:#eee;
  bottom:50px;
  left:0;
  overflow-y:scroll;
  padding:1em;
  position:absolute;
  top:50px;
  width:100%;
  -webkit-overflow-scrolling:touch;

  button {
    appearance:none;
    -webkit-appearance:none;
    background:#666;
    border:1px solid #eee;
    border-radius:0.25em;
    color:#fff;
    display:block;
    font-size:100%;
    font-weight:bold;
    text-align:center;
    margin:0 0 1em 0;
    padding:0.5em;
    width:100%;
  }

  button.touched {
    background:#aaa;
  }

  button.is-on {
    background:#aaa;
  }

  > div {
    margin:0 auto;
    max-width:400px;
  }

  .item {
    background:#fff;
    border:1px solid #ccc;
    border-radius:0.25em;
    margin-bottom:1em;
    overflow:hidden;
    h3 {
      background:#666;
      color:#fff;
      font-size:100%;
      text-align:center;
      margin:0;
      padding:0.25em;
    }
  }

}

#dashboard {
  .item {
    a {
      border-left:1px solid #ccc;
      display:block;
      float:left;
      padding:0.25em;
      text-align:center;
      width:33%;
    }
    a:nth-of-type(1) {
      border-left:none;
    }
    a.touched {
      background:#aaa;
      color:#fff;
    }
  }
}

#effects, #bulbs {
  h3 {
    padding-left:4em;
    padding-right:4em;
    position:relative;
    a {
      display:inline-block;
      padding:0 0 0 1em;
      position:absolute;
      top:4px;
      left:0;
      i {
        color:#aaa;
      }
    }
    a.on {
      i {
        color:#fff;
      }
    }
  }
  .item {
    text-align: center;
    ul {
      margin:0;
      padding:0;
      li {
        display:inline;
        list-style:none;
        margin:0;
        padding:0;
        a {
          border-bottom:1px solid #ccc;
          display:block;
          padding:0.25em 1em;
          i {
            color:#ccc;
            margin-right:1em;
          }
        }
      }
      li.on {
        a {
          color:#000;
          i {
            color:#f00;
          }
        }
      }
      li:last-child {
        a {
          border-bottom:none;
        }
      }
    }
    img {
      border-radius:0.25em;
      display:block;
      margin:0.3em auto 0 auto;
      width:95%;
    }
    input[type=range] {
      -webkit-appearance: none !important;
      -webkit-border-radius: .5em;
      -webkit-box-shadow: inset 0 0 5px #333;
      background-color: #999;
      display: inline-block;
      height: 3em;
      margin: .5em;
      width: 95%;
    }
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        -webkit-border-radius: .5em;
        background-color: #AAA;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#AAA));
        border: 1px solid #666;
        height: 3em;
        width: 3em;
    }
  }
}